#clockContainer{
  position: relative;
  border: red;
  margin: auto;
  /* height:40vw; 
  width:40vw; */
  height: 440px;
  width:440px;
  background: url(Clock.png) no-repeat;
   background-size: 100%;
}

#hour,#minute,#second{
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour{
  width: 2%;
    height: 28%;
    top: 22%;
    left: 49.5%;
    opacity: 0.8;
    
}
#minute{
  width: 2%;
  height: 32%;
  top: 18.7%;
  left: 49.5%;
  opacity: o.8;
  
}
#second{
  width: 2%;
    height: 35%;
    top: 15.6%;
    left: 49.5%;
  opacity: o.8;
 
}